{
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true
      },
      "baseUrl": "./src",
      "paths": {
        "@core/seedwork/*": [ "./@seedwork/*" ],
        "@category/*": [ "./category/*" ]
      }
  }
}